#product-overview {
  background: linear-gradient(to top, rgba(80, 68, 18, 0.6) 10%, transparent),
    url("tech.jpeg") center/cover no-repeat border-box,
    #ff1b68;

  width: 100vw;
  height: 90vh;
  position: relative;
}

#product-overview h2 {
  color: white;
  font-family: "Anton", sans-serif;
  position: absolute;
  top: 3%;
  left: 2%;
  font-size: 1.9rem;
}
.carousel .thumbs{
  display:none

}

main {
  height: 30vh;
  width: 100vw;
}
.swiper {
  width: 600px;
  height: 300px;
}

.each-slide-effect>div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 350px;
}

.each-slide-effect span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.track-horizontal {
  justify-content: flex-start;
  align-items: center;
  padding-top: 0;
  display: flex;
  position: relative;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  grid-auto-flow: row;
}

@media (min-width: 401px) and (max-width: 800px) {

  #product-overview {
    background: linear-gradient(to top, rgba(80, 68, 18, 0.6) 10%, transparent),
      url("tech.jpeg") center/cover no-repeat border-box,
      #ff1b68;
    width: 104vw;
    height: 80vh;

    position: relative;
  }

  .mobile-nav__items {
    width: 50%;
    height: 77%;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}

@media (min-width: 801px) and (max-width: 1000px) {
  .main-footer__link {
    margin: 0 1rem;
  }

  .main-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #041bec;
    padding: 0.1rem 1rem;
    z-index: 60;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .main-footer__links {
    flex-direction: row;
    justify-content: center;
  }

  .logo-moving {
    animation: linearloop 1s linear infinite;
    height: 150px;
  }

  /* img.logo-moving {
        width: 220px;
    } */

  section.grid {
    display: inline-block
  }

  .mobile-nav {
    transform: translateX(-100%);
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    background: rgb(240, 2, 2);
    width: 15%;
    height: 20vh;
    transition: transform 300ms ease-out;
  }

  .main-nav__item--cta a,
  .mobile-nav__item--cta a {
    color: rgb(11, 0, 0);
    padding: 0.5rem 1.3rem;
    border-radius: 8px;
    background: linear-gradient(to top, rgba(80, 68, 18, 0.6) 10%, transparent),
      url("cart\ Background\ Removed.png") height 2pxcenter/cover no-repeat border-box,
      #fbfbfc;
  }

  #product-overview {
    background: linear-gradient(to top, rgba(80, 68, 18, 0.6) 10%, transparent),
      url("tech.jpeg") center/cover no-repeat border-box,
      #ff1b68;

    width: 101%;
    height: 59vh;
    /* border: 5px dashed red; */
    position: relative;
    margin-top: 4%;
  }

  .hero {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 5%;
    margin-top: 5%;
  }

  .moving-logos {
    position: absolute;
  }

  .moving-logos {
    display: none;
  }




}